body { 
	padding-top: 5rem;

}


.profile { 
	display: flex; 
	flex-direction: column; 
	box-shadow: 1px 1px 10px black; 
	border-radius: 5px; 
	text-align: center; 
	width: 40%; 
	margin: 0 auto; border: 1px;

}


.profile-head { 
	padding: 10px; 
	justify-content: center; 
	text-align: center; 
	color: white; 
	/*background:rgb(44, 74, 138);*/
	background:rgb(34,139,34);

} 


.profile-head h1 { 
	font-size: 2em; 
	font-weight: bold;

}



.profile-head h2 { 
	font-size: 15px;
} 



.photo { border-radius: 50%; 
	width: 150px; 
	height : auto; 
	margin: 0 auto; 
} 



.profile-body { 
	display: flex; 
	flex-direction: column; 
	text-align: center; 
	padding: 40px 50px; 
	padding-top:4px; 
	position: relative; 
	align-items:center; 
	justify-content: center; 
	color: rgba(59, 58, 58);

} 


.profile-body ul { 
	display: flex; 
	justify-content: space-between;
} 


li { 
	display: flex; 
	margin-right: 20px; 
	flex-direction: column; 
	justify-content: center;

} 



.number { 
	font-weight: bold;
} 



.btn { 
	width: 100px; 
	background: rgb(127,255,0); 
	border-radius: 15px; 
	padding: 8px; 
	color: #FFF; 
	font-size: 15px; 
	font-weight: bold; 
}


